{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans "Home page" %} - Wapyce{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <section>
        <header><h2>{% trans "About" %}</h2></header>
        <article>
          <p>
            {% blocktrans %}
              <strong>Wapyce</strong> is a web application with objective to
              store results of accessibility validations of templates available
              on Github, to notify the developers about issues found during
              validation.
            {% endblocktrans %}
          </p>
        </article>
      </section>
    </div>
  </div>
{% endblock %}
